.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1:hover{
  color: #26916d;
  cursor: pointer;
}
h1 {
  margin: 24px;
  font-family: 'Lobster', cursive;
  text-shadow: 4px 0 #232931;
  font-size: 6.4rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 56%;
  box-shadow: black;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

button{
  border-radius: 5px;
  font-size: 20px;
  margin-top: 5%;
  padding: 17px 35px;
  background-color: #4ECCA3;
  font-family: 'Anuphan', sans-serif;
  box-shadow: black;
  cursor: pointer;
  border: none;
}
button:hover{
  background-color: #26916d;
  font-size: 20.5px;
}
.apply-shake {
  animation: shake 3s infinite;
}
@keyframes shake{
  0% { transform: rotate(16deg); }
  25% { transform: rotate(-16deg); }
  50% { transform: rotate(16deg); }
  75% { transform: rotate(-16deg); }
  100% { transform: rotate(16deg); }
}
